<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td><b th:text="${user.getId()}">Id</b></td>
        <td th:text="${user.getFirstName()}">Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
        <td th:text="${user.getAge()}">Age</td>
    </tr>
</table>
<br>
<form th:action="@{'edit/' + ${user.getId()}}">
    <input type="submit" class="buttonEdit" value="Edit User"/>
</form>
<br>
<form th:method="DELETE" th:action="@{'delete/' + ${user.getId()}}">
    <input type="submit" class="buttonDelete" value="Delete User"/>
</form>
<br>
<button onclick="window.location.href = '/'">Back to userTable</button>

</body>
</html>
